<!-- <nav class="nav_bar">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/services">Our services</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
</nav> -->
<header id="header" class="alt">
    <h1><a href="/">ExpressJS</a></h1>
    <a href="#nav">Menu</a>
</header>

<!-- Nav -->
<nav id="nav">
    <ul class="links">
        <li><a href="/">Home</a></li>
        <li><a href="/services">Our Services</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
</nav>