<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="stylesheet" href="css/styles.css" /> -->
    <link rel="stylesheet" href="assets/css/main.css" />
    <title>Express Js</title>
  </head>
  <body class="landing">

    
    <%- include("partials/header"); -%>

<!-- Banner -->
    <section id="banner">
        <i class="icon fa-diamond"></i>
        <h2>Contact Us</h2>
        <p>Reach Us in Here</p>
    </section>

<!-- Contact -->
    <section id="four" class="wrapper special">
        <div class="inner">
            <header class="major narrow">
                <h2>Get in touch</h2>
                <p>Ipsum dolor tempus commodo adipiscing</p>
            </header>
            <form action="#" method="POST">
                <div class="container 75%">
                    <div class="row uniform 50%">
                        <div class="6u 12u$(xsmall)">
                            <input name="name" placeholder="Name" type="text" />
                        </div>
                        <div class="6u$ 12u$(xsmall)">
                            <input name="email" placeholder="Email" type="email" />
                        </div>
                        <div class="12u$">
                            <textarea name="message" placeholder="Message" rows="4"></textarea>
                        </div>
                    </div>
                </div>
                <ul class="actions">
                    <li><input type="submit" class="special" value="Submit" /></li>
                    <li><input type="reset" class="alt" value="Reset" /></li>
                </ul>
            </form>
        </div>
    </section>

<!-- Footer -->
    <footer id="footer">
        <%- include("partials/footer"); -%>
    </footer>

<!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/skel.min.js"></script>
    <script src="assets/js/util.js"></script>
    <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="assets/js/main.js"></script>
  </body>
</html>
