<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="stylesheet" href="css/styles.css" /> -->
    <link rel="stylesheet" href="assets/css/main.css" />
    <title>Express Js</title>
  </head>
  <body class="landing">

    
    <%- include("partials/header"); -%>

<!-- Banner -->
    <section id="banner" >
        <i class="icon fa-diamond"></i>
        <h2>Our Services</h2>
        <p>We provide the best in our field</p>
    </section>

<!-- Our services -->
    <section id="one" class="wrapper style1">
        <div class="inner">
            <article class="feature left">
                <span class="image"><img src="images/pic01.jpg" alt="" /></span>
                <div class="content">
                    <h2>Integer vitae libero acrisus egestas placerat  sollicitudin</h2>
                    <p>Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue. Morbi purus libero, faucibus adipiscing, commodo quis, gravida id, est.</p>
                    <ul class="actions">
                        <li>
                            <a href="#" class="button alt">More</a>
                        </li>
                    </ul>
                </div>
            </article>
            <article class="feature right">
                <span class="image"><img src="images/pic02.jpg" alt="" /></span>
                <div class="content">
                    <h2>Integer vitae libero acrisus egestas placerat  sollicitudin</h2>
                    <p>Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue. Morbi purus libero, faucibus adipiscing, commodo quis, gravida id, est.</p>
                    <ul class="actions">
                        <li>
                            <a href="#" class="button alt">More</a>
                        </li>
                    </ul>
                </div>
            </article>
            <article class="feature left">
                <span class="image"><img src="images/pic01.jpg" alt="" /></span>
                <div class="content">
                    <h2>Integer vitae libero acrisus egestas placerat  sollicitudin</h2>
                    <p>Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue. Morbi purus libero, faucibus adipiscing, commodo quis, gravida id, est.</p>
                    <ul class="actions">
                        <li>
                            <a href="#" class="button alt">More</a>
                        </li>
                    </ul>
                </div>
            </article>
            <article class="feature right">
                <span class="image"><img src="images/pic02.jpg" alt="" /></span>
                <div class="content">
                    <h2>Integer vitae libero acrisus egestas placerat  sollicitudin</h2>
                    <p>Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue. Morbi purus libero, faucibus adipiscing, commodo quis, gravida id, est.</p>
                    <ul class="actions">
                        <li>
                            <a href="#" class="button alt">More</a>
                        </li>
                    </ul>
                </div>
            </article>
        </div>
    </section>

<!-- Footer -->
    <footer id="footer">
        <%- include("partials/footer"); -%>
    </footer>

<!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/skel.min.js"></script>
    <script src="assets/js/util.js"></script>
    <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="assets/js/main.js"></script>
  </body>
</html>
